.background {
  background: url('../assets/login_bg.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.Register {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
  height: 100vh;
  overflow: hidden;
  /* margin-top: 10vh; */

  .right {
    img {
      height: 100vh;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(245, 222, 179, 0.482);
    backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 12px;

    h1 {
      font-size: 40px;
      margin: 20px;
    }

    input {
      width: 20vw;
      padding: 12px;
      font-size: 20px;
      margin: 20px;
      border: 1px solid black;
      border-radius: 12px;
      outline: none;
      background: rgba(255, 255, 255, 0.874);
      backdrop-filter: blur(20px);
    }

    textarea {
      resize: none;
      width: 20vw;
      padding: 12px;
      font-size: 20px;
      margin: 20px;
      border: 1px solid black;
      border-radius: 12px;
      outline: none;
      background: white;
      backdrop-filter: blur(20px);
    }

    button {
      margin: 20px;
      padding: 10px;
      background: black;
      color: white;
      border: 0;
      border-radius: 12px;
      font-size: 20px;
      transition: all 300ms;

      &:hover {
        background: wheat;
        color: black;
        transform: scale(1.2);
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .other_area {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      select {
        height: max-content;
        width: 21vw;
        padding: 12px;
        font-size: 20px;
        margin: 20px;
        border: 1px solid black;
        border-radius: 12px;
        outline: none;
        background: rgba(255, 255, 255, 0.856);
        backdrop-filter: blur(20px);
      }
    }
    .password_area {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      #password {
        margin: 2px;
        width: 90%;
      }
    }
  }
  p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .Register {
    .right {
      display: none;
    }

    .left {
      width: 70vw;

      input,
      textarea {
        width: 80vw;
      }
    }
  }
}